<footer class="py-4 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">{{ message }}</p>
  </div><!-- /.container -->
</footer>

<script>
new Vue({
  el: "footer",
  data: {
    message: "Copyright © My Rails Blog <%= Time.now.year %>"
  }
})
</script>
